%p#notice= notice
%p
  %strong Name:
  = @board.name
%tbody
  - @board.cards.each do |card|
    %tr
      %td= card.title
      %td= card.body
      %td= link_to 'Show', board_card_path(@board, card)
      %td= link_to 'Edit', edit_board_card_path(@board, card)
      %td= link_to 'Destroy', card, method: :delete, data: { confirm: 'Are you sure?' }
%p
%td= link_to 'Add Card', new_board_card_path(@board)
= link_to 'Edit', edit_board_path(@board)
|
= link_to 'Back', boards_path
